.tab-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    border-radius: 7px;
    background-color: #dadadb;
}

.indicator {
    width: 50%;
    height: 100%;
    background-color: rgb(185 28 28);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 7px;
    transition: transform 0.3s ease-out;
}
.disabled-card {
    cursor: not-allowed;
    opacity: 0.5;
}


.fontSize {
    font-size: 15px !important;
}

.customBg {
    background-color: rgb(185 28 28);
}

.tab {
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 6px 0;
    position: relative;
    z-index: 1;
    font-size: 1rem;
    opacity: 0.6;
    user-select: none;
}

.tab.active {
    opacity: 1;
    color: white !important;
}

.fonSize {
    font-size: 18px !important;
}

.headerLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background: white;
    padding: 10px;

    &__image {
        width: 100px;
        height: auto;
    }
}