body {
    width: 100%;
    overflow-x: hidden !important;
}

.rupeesIcon {
    font-size: 18px !important;
}

.commentInput {
    width: 96% !important;
}
.textSize{
    font-size: 150px !important;
}

.suggestionCard {
    width: 734px !important;
}


.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.card {
    display: inline-block;
    width: 75% !important;
    margin-right: 10px;
}


.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}