.subCategorySuggestionCard{
    width: 9rem !important;
}
.marginLeft{
    margin-left: 55%;
    margin-top: 5px;
}
.text-align-webkit{
    text-align: -webkit-center;
}
.activeSection{
    border: 2px solid black !important;
}